.login{
    height: 984px;
    width: 1879px;
    background-image: url('./../注册2.jpg')
} 
.loginheader{
    text-align: center;
    height:40px ;
    padding-top: 40px;
    font-size: 30PX;
}
.loginheader1{
    width: 450px;
    margin-left: 715px;
    margin-top: 200px;
}
.biaoge{
    margin-left: auto;
    margin-right: auto;
}
.tg{
    width: 450px;
    height: 50px;
    border: 2px solid rgb(7, 8, 7);
   
}
.tg1{
    width: 300px;
    height: 40px;
    border: 2px solid rgb(10, 12, 10);
}

.tijiao{
    border: 1px #3083ff solid;
    border-radius:4px;
    background-color:#3487ff;
    box-shadow:0 5px 8px 0 rgba(24,95,255,.1);
    color:#fff;
    text-align:center;
    font-weight:lighter;
    background-image:linear-gradient(0deg,#398bff,#3083ff);
    width:250px;
    height:60px;
    margin:40px 0 8px;
    font-size:24px    

}
