.header{
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: gold;
}
.div{
    white-space: nowrap;
}
.all{
    
    height:30px;
    margin: 0 150px;
    display: flex;
    justify-content: space-between;
    
}
.one{
   width: 10%;
   height: 30px;
   white-space: nowrap;
   
}
.two{
   width: 25%;
   height:30px;
   text-align: center;
   white-space: nowrap;
}
.two a{
    margin: 0 10px;
}