.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
 .car{
      width: 383px;
      height: 744px;
      position: absolute !important;
      right: 0;
      margin-bottom: 0px;
  } 
  img{
    width: 100%;
    height: 60%;
    object-fit:cover;
    vertical-align: top
}
.toparea{
    height: 22px;
    width: 20%;
    padding-left: 300px;
    background-color:rgb(168, 218, 168);
    float: left;
}
.toparea1{
    height: 22px;
    width: 80%;
    background-color:rgb(168, 218, 168);
    float: right;
}
.toparea2{
    height: 22px;
    width: 20%;
    background-color:rgb(168, 218, 168);
    float: right;
    justify-content: space-around;
}
.toparea3{
    width: 65%;
    height: 22px;
    float: right;
    
}
.searchpage{
    width: 100%;
    height: 260px;
    background-image: url('../search.jpg');
}
.searchpage1{
    width: 15%;
    height: 260px;
    font-size: 3em;
    font-style: initial;
    margin-left: 300px;
    padding-top: 96px;
    float: left;
}
.searchpage2{
    width: 1250px;
    height: 230px;
    float: right;

}
.contentleft{
    display: flex;
    width: 1200px;
    margin-left: 280px;
    height: 210px;
    border: 2px solid gray;
    float: left;

}
.contentleft1{
    width: 80px;
    padding-left: 8px;
    
    float: left;
}
.contentleft2{
    padding-left:3px;
    height:20px;
    padding-top: 10px;
    float: left;;
}
.contentleft3{
    height: 200px;
    width: 150px;
    border-left: 3px solid rgb(106, 186, 223);
    background-image: url('../点餐3.jpg') 
}
.contentleft4{
    height:206px;
    width: 918px;
    text-align: center;
    font-size: 4em;
    border: 2px solid rgb(85, 199, 165);
    
}
.contentleft5{
    height: 206px;
    width: 89px;
    background-color:rgb(55, 182, 93);
    float: right;
    
}
.contentleft6{
    height: 70px;
    padding-top: 19px;
}

