.warp{
    box-sizing: border-box;
    height: 100vh;
    /* background: url(../img/beautif.png) no-repeat center; */
    background-size: auto 100vh;
    position: relative;
}
.wpn{
    width: 1180px;
    margin: 0 auto;
}
.formtop{
    background-color: white;
    width: 460px;
    left: 50%;
    margin-left: -230px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    padding: 65px 0 30px 0;
    position: fixed;
    top: 15%;
}
.headlogo{
    position:absolute;
    top: -50px;
    left: 100px;
}
.formtop,headlogo{
    position: absolute;
    top: 200px;
    left: 700px;
}
.form{
    border: none;
    display: center;
}
.formtop,form{
    outline: none;
    border: none;
    z-index: 5;
    position: absolute;
    top: 200px;
    left:700px;
    width: 340px;
    background-color: transparent;
    font-size: 20px;
}
.buttom{
   color: #000;
}
.tg{
    width: 300px;
    height: 50px;
   
}
.left{
    float: left;
}
.right{
    float: right;
}
.last{
    position: absolute;
    width: 340px;
    height: 50px;
    top: 350px;
}


