.totalpage1{
    width: 1133px;
    height: 852px;
    margin-left: 390px;
    background-color:white;
    display: flex;
}
.totalpage{
    background-image: url('./../联系1.jpg');
    width: 1920px;
    padding-top: 75px;
    height: 1000px;
}
.header1{
    background-color: red;
    height: 98px;
    width: 228px;
    padding-top: 4px;
    padding-left: 4px;
}
.header{
    width: 230px;
    height: 852px;
    border: 2px solid rgb(129, 128, 128)

}
.header2{
    height: 80px;
    width: 228px;
    border: 2px solid rgb(175, 162, 162)    ;
    background-color: rgb(201, 212, 221);
}
.header3{
    width: 903px;
    height: 100px;
    border: 2px solid rgb(129, 128, 128);
    text-align: center;
    font-size: 35px;
    float: right;
}
.header4{
    width: 903px;
    height: 686px;
    text-align: center;
    font-size: 35px;
    background-color: aliceblue;
}
.header5{
    display: none;
}
.header6{
    width: 900px;
    height: 166px;
    border: 1px solid rgb(156, 155, 156);
    background-color: aliceblue;
}
.header7{
    width: 900px;
    height: 30px;
    display: flex;
}
.header8{
    width: 70px;
    padding-left: 20px;
}
.header9{
    width: 100px;
    height: 50px;
    
    float: right;
    padding-left: 450px;
    padding-top: 120px;
}