
.top1{
    width:100%;
    position: absolute;
   
    
}
.toparea1{
    font-size: 16px;
    height: 80px;
    width: 100%;
    display: block;
    position: absolute;
    background-color:gold;
}
.toparea2 {
    width: 30%;
    padding: 0 0 10px;
    
    height: 80%;
    color: #566473;
    width:30%;
    margin-top: 20px;
    
    display: flex;
    position: absolute;
  
}


 
/* 
.toparea2 ::after {
    position: absolute;
	top: 30%;
    width: 11%;
    
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.toparea2 :hover::after,
.toparea2 :focus::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
} */


/* li:hover::before, a:hover::after { position: absolute; }
li:hover::before { content: "\5B"; left: -10px; }
li:hover::after { content: "\5D"; right:  -10px; } */
.toparea3{
   
    float:right;
    height: 100%;
    width: 80%;
    text-align: right;
    padding: 15px 0;
   
}
.toparea4{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    
    padding: 12px 0;
}
.toparea5{
    width: 82%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.toparea3 ul{
    height: 100%;
    display: block;
    margin-left:40px;
    float: right;
    overflow: hidden;
    list-style: none;
}
.toparea3 li{
    float: left;
    padding: 0 12px;
}

.searchpage{
   
    width: 100%;
    height: 268px;
    background-image: url('../search.jpg');
}
.search1{
    width: 100%;
    height: 100%;
    padding:20px 20px;
    display: flex;
    justify-content: space-between;
    
}
.searchpage1{
   
    width: 25%;
    font-size: 3em;
    font-style: oblique;
    font-family: serif;
    padding-top: 96px;
    margin: 0 40px;
    overflow: hidden;
    
}
.searchpage2{
    width: 50%;
    
    
}
.searchpage3{

    width: 20%;
    height: 200px;
    border-radius: 5px;
    background-color:#fff;
    margin-top: 35px;
    margin-right: 150px;
     
}

.search2{
    margin:0 auto;
    
    justify-content: center;
    width: 50%;
    height: 220px;
    display: flex;
  
    
  
}
.search3{
   
    margin: auto;
    width: 70px;
    height: 160px;
    display: flex;
   text-align: center;
    flex-direction: column;
}

.btn{

    color: black;
    text-align: center;
    margin: 0 auto;
    width: 70px;
    height: 32px;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    line-height: 32px;
    background-color: #ffd84d;

    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 3px;
}
.all{
    width: 100%;
    height: 800px;
    display: block;
    position: absolute;
}

.list1{
    position: absolute;
    width: 20%;
    height: 720px;
    display: flex;
    flex-direction: column;
}
.list2{
     width: 100%;
    height: 60px;
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    border: 1px solid rgb(162, 170, 163);
    background-color: rgb(32, 170, 50);
}
.list3{
    height: 136px;
    width: 100%;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    background-color: rgb(73, 73, 85, 0.7);
    border-radius: 20px;
}
.list3{
    height: 136px;
    width: 100%;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
}
.list4{
    height: 136px;
    width: 100%;
    border: 1px solid #8f9c90;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
}
.list5{
    height: 136px;
    width: 100%;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
}
.list6{
    height: 136px;
    width: 100%;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
}
.list7{
    height: 136px;
    width: 100%;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
}
.two{
    position: absolute;
    margin-left: 20%;
    height: 100%;
    width: 60%;
    flex-direction: column;
    display: flex;
}
.tuh{
    
    height: 60px;
    width: 100%;
}
.tuh1{
    font-size: 24px;

    padding: 10px;
    
}
.tuh1 a{
    color: black;
   
    background-color: aqua;
    border-radius: 5px;
    margin-left: 190px;
}
.tu1{
    height: 450px;
    width: 100%;
}

.tu2{
    height: 300px;
    width: 100%;
    background-image: url(./../主页6.jpg);
    float: left;
    margin-top: 470px;
   
    position: absolute;
    
}
.three{
    margin-left: 80%;
}