
.top1{
    width:100%;
    height: 100%;
    
   
}
.toparea1{
    font-size: 16px;
    height: 80px;
    width: 100%;
    
    position: absolute;
    background-color:gold;
}
.toparea2 {
    width: 30%;
    padding: 0 0 10px;
    
    height: 80%;
    color: #566473;
    width:30%;
    margin-top: 20px;
    
    display: flex;
    position: absolute;
  
}


 
/* 
.toparea2 ::after {
    position: absolute;
	top: 30%;
    width: 11%;
    
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.toparea2 :hover::after,
.toparea2 :focus::after {
	height: 3px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
} */


/* li:hover::before, a:hover::after { position: absolute; }
li:hover::before { content: "\5B"; left: -10px; }
li:hover::after { content: "\5D"; right:  -10px; } */
.toparea3{
   
    float:right;
    height: 100%;
    width: 80%;
    text-align: right;
    padding: 15px 0;
   
}
.toparea4{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    
    padding: 12px 0;
}
.toparea5{
    width: 82%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.toparea3 ul{
    height: 100%;
    display: block;
    margin-left:40px;
    float: right;
    overflow: hidden;
    list-style: none;
}
.toparea3 li{
    float: left;
    padding: 0 12px;
}

.all{
    width: 100%;
    height: 800px;
    display: block;
   
    
}


.one{
    
   
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
   
}
.tuh{
  
    white-space: nowrap;
    width: 100%;
    height: 50px;
    position: relative;
   
}
.tuh1{
    padding: 0 100px;
    height: 100%;
    display: flex;
 
    padding: 10px;
}

.tuh1 a{
    width: 100px;
    height: 100%;
    font-size: 20px;
}
.goodslist{
  width: 200px;
  height: 100%;
  font-size: 20px;
  background-color:rgb(255,216,77);
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
}

.list{
   
    width: 200px;
    height: 400px;
    display: none; 
    position: absolute;
    z-index: 1000;

 
}
.lista{
    width: 100%;
    height: 100%;
    margin-top: 10px;
   
    display: flex;
    background-color: rgb(34, 33, 33);
    opacity: 0.5;
    
}
.lista ul{
    list-style:none;
    display: block;
    position: relative;
    padding-left: 0;
    width: 100%;
     
    height: 350px;

}
ul a{
    color: white;
}
.a{
    width: 200px;
    height: 20px;
   
    position: relative;
}
.lista li{
    position: relative;
 
    width: 200px;
    height: 40px;
 
}



.goodslist:hover .list{
    transition: 0.5;
    display:table;
    
   
}
.pagea{
    width: 600px;
    height: 400px;
    background-color:#999;
    display: none;
    position: absolute;
    top:-20px;
    left: 200px;
 
  

    
}
.pageb{
    width: 600px;
    height: 400px;
    background-color: blue;
    display: none;
    position: absolute;
    top:-60px;
    left: 200px;


    
}
.a:hover .pagea{
    transition: 0.5;
    display: block;
}
.b:hover .pageb{
    transition: 0.5;
    display: block;
}
.btntwo{
    
    width: 211px;
   
    text-align: center;
    display: block;
    font-size: 18px;
    transition: 0.5s;
    color: #bf095f;
    
   
}
.btntwo:hover {
    transition: 0.5s;
    color: #ffffff;
     background: rgb(255,216,77);
     border-radius: 5px;
}
.tu1{
    position: relative;
   
    margin: 0 220px;
   
}




