
.top1{
    width:100%;
    
   
    
}
.toparea1{
    font-size: 14px;
    height: 80px;
    width: 100%;
    display: block;
    position: fixed;
    background-color:#ffff;
   
}

.toparea2{
    
    height: 80%;
   
    width:30%;
    margin-top: 20px;
    margin-left: 120px;
    
    float: left;
    display: flex;
    position: absolute;
    
}
.toparea2 li{
    list-style: none;
    padding: 0 12px;
}
.toparea3{
   
    float:right;
    height: 100%;
    width: 50%;
    text-align: right;
    padding: 15px 0;

}
.toparea4{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    
    padding: 12px 0;
}
.toparea5{
    width: 82%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.toparea3 ul{
    height: 100%;
    display: block;
    margin-left:40px;
    float: right;
    overflow: hidden;
    list-style: none;
}
.toparea3 li{
    float: left;
    padding: 0 12px;
}

.searchpage{
    width: 100%;
    height: 260px;
    display: flex;
    
    background-image: url('../search.jpg');
}
.searchpage1{
    width: 20%;
    height: 260px;
    font-size: 3em;
    font-style: initial;
    margin-left: 300px;
    padding-top: 96px;
    float: left;
}
.searchpage2{
    width: 40%;
    height: 230px;
    float: right;

}
.searchpage3{
    width: 30%;
    height: 230px;
}
.list1{
    width: 361px;
    height: 720px;
    background-color: rgb(130, 163, 53);
    float: left;
}
.list2{
    width: 361px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    border: 1px solid rgb(162, 170, 163);
    background-color: rgb(32, 170, 50);
}
.list3{
    height: 136px;
    width: 361px;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    background-color: rgb(73, 73, 85, 0.7);
}
.list3{
    height: 136px;
    width: 361px;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
}
.list4{
    height: 136px;
    width: 361px;
    border: 1px solid #8f9c90;
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
}
.list5{
    height: 136px;
    width: 361px;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
}
.list6{
    height: 136px;
    width: 361px;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
}
.list7{
    height: 136px;
    width: 361px;
    border: 1px solid rgb(162, 170, 163);
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
}
.tu1{
    height: 450px;
    width: 1200px;
    float: left;
    margin-left: 440px;
    position: absolute !important;
}
.tu2{
    height: 300px;
    width: 1200px;
    background-image: url(./../主页6.jpg);
    float: left;
    margin-top: 470px;
    margin-left: 440px;
    position: absolute;
    
}
