.login{
    height: 984px;
    width: 1879px;
    background-image: url('./../注册3.jpg')
}
.loginheader{
    text-align: center;
    height:40px ;
    padding-top: 30px;
    font-size: 30PX;
}
.loginheader1{
    width: 450px;
    margin-left: 715px;
    margin-top: 160px;
}
.biaoge{
    margin-left: auto;
    margin-right: auto;
}
.tg{
    width: 450px;
    height: 50px;
   
}
.wancheng{
    width: 50px;
    height: 30px;
    
}
.wam{
    margin-left: auto;
    margin-right: auto;
}